{% extends "JPISoluxBundle:Form:show.html.twig" %}

{% block jpi_solux_show_content %}
<p class="list-group-item">Catégorie : {{ produit.categorie.nom }}</p>
<p class="list-group-item">Nom : {{ produit.nom }}</p>
<p class="list-group-item">Quantité : {{ produit.quantite|localizednumber }} {{ produit.unite }}</p>
<p class="list-group-item">Prix : {{ produit.prix|localizedcurrency(currency) }}</p>
<p class="list-group-item">Prix Fixe : 
				{% if produit.prixFixe %}
					{{ "produit.show.prixFixe.oui"|trans  }}
				{% else %}
					{{ "produit.show.prixFixe.non"|trans  }}
				{% endif %}
</p>
{% if not produit.limites.empty %}
<p class="list-group-item">Limites
	<table class="table table-striped table-bordered table-responsive table-condensed table-hover">
		<thead>
			<tr>
				<th>Taille de la famille</th>
				<th>Durée</th>
				<th>Quantité Max</th>
			</tr>
		</thead>
		<tbody>
	{%- for ligne in produit.limites -%}
		<tr>
			<td>De {{ ligne.nbMembreMin }} à {{ ligne.nbMembreMax }} {{ 'form.membre'|transchoice(ligne.nbMembreMax) }}</td>
			<td>{{ ligne.duree|localizednumber }}  {{ 'form.duree.jour'|transchoice(ligne.duree) }}</td>
			<td>{{ ligne.quantiteMax|localizednumber }} {{ produit.unite }}</td>
		</tr>
    {%- endfor -%}
    	</tbody>
    </table>
</p>
{% endif %}
{% endblock jpi_solux_show_content %}