{% extends "JPISoluxBundle::layout.html.twig" %}
{% block jpi_solux_content %}
<div class="panel panel-default">
	<div class="panel-heading clearfix">
    	<div class="panel-title">
			<ul class="list-inline">
        		<li class="col-xs-12">
           			<h4 class="pull-left">{{ entityName|trans }} : {{ entityLabel }}</h4>
          			<span class="btn-group pull-right"> 
	    				<a href="{{ pathEdit }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> {{ 'form.modifier'|trans }}</a>
	    				<a data-toggle="modal" href="#confirm-action" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> {{ 'form.supprimer.button'|trans }}</a>
       				</span>
				</li>
			</ul>
		</div>
  	</div>
	<div class="modal fade" id="confirm-action">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">x</button>
	        <h4 class="modal-title">{{ 'form.supprimer.titre'|trans }}</h4>
	      </div>
	      <div class="modal-body">
	      	{% block jpi_solux_delete_confirm_message %}
	      	<div>{{  'form.confirm_delete'|trans({'%entityLabel%': entityLabel}) }}</div>
	      	{% endblock jpi_solux_delete_confirm_message %}
	      </div>
	      <div class="modal-footer">
	        <a href="{{ pathDelete }}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> {{ 'form.supprimer.button'|trans }}</a>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="list-group">
	{% block jpi_solux_show_content %}
	{%- for ligne in showContent -%}
		<p class="list-group-item">{{ ligne.nom }} : {{ ligne.value }}</p>
    {%- endfor -%}
	{% endblock jpi_solux_show_content %}
    </div>
</div>  	
{% endblock jpi_solux_content %}
