{% extends "JPISoluxBundle:Form:layout_liste_entity.html.twig" %}

{% block liste_entity_table_data %}
	<thead>
		<tr>
			<th>Adultes : De </th>
			<th>À</th>
			<th>Enfants : De</th>
			<th>À</th>
			<th>Durée</th>
			<th>Montant</th>
		</tr>
	</thead>
	{% for item in liste %}
	<tr class="clickableRow text-right" data-href="{{ path( pathShow, { 'id': item.id }) }}">
		<td data-sort="{{ item.nbMembreAdulteMin }}">{{ item.nbMembreAdulteMin|localizednumber  }}</td>
		<td data-sort="{{ item.nbMembreAdulteMax }}">{{ item.nbMembreAdulteMax|localizednumber  }}</td>
		<td data-sort="{{ item.nbMembreEnfantMin }}">{{ item.nbMembreEnfantMin|localizednumber  }}</td>
		<td data-sort="{{ item.nbMembreEnfantMax }}">{{ item.nbMembreEnfantMax|localizednumber  }}</td>
		<td data-sort="{{ item.duree }}">{{ item.duree|localizednumber  }} {{ 'form.duree.jour'|transchoice(item.duree) }}</td>
		<td data-sort="{{ item.montant }}">{{ item.montant|localizedcurrency(currency) }}</td>
	</tr>
	{% endfor %}
{% endblock liste_entity_table_data %}