{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "JPISoluxBundle::layout.html.twig" %}
{% block jpi_solux_content %}
<div class="panel panel-default">
	<div class="panel-heading clearfix">
    	<div class="panel-title">
			<ul class="list-inline">
        		<li class="col-xs-12">
           			<div class="col-xs-3 ">{{ 'caisse.add.titre'|trans }}</div>           			
					<div class="col-xs-3 ">{{ 'caisse.add.famille'|trans }} : {{ famille.prenomChef }} {{ famille.nom }}</div>
					<div class="col-xs-3 ">{{ 'caisse.add.taux_participation'|trans }} : {{ (taux.taux *100)|localizednumber  }} %</div>
					<div class="col-xs-3 ">{{ 'caisse.add.montant_max'|trans }} : {{ montantMaxAchat|localizedcurrency(currency) }}</div>	
				</li>
			</ul>
		</div>
  	</div>
	<div class="panel-body">
		{{ form_start(form) }}
   				{{ form_errors(form) }}
   				<div class="col-xs-6">
   					{{ form_row(form.codeBarre) }}
   				</div>
   				<div class="col-xs-6">
   					{{ form_row(form.nom) }}
   				</div>
   				<input class="hidden" type="submit" />
   				{{ form_rest(form) }}
   				{{ form_end(form) }}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading clearfix">
    	<div class="panel-title">
				{{ form(form_achat) }}
		</div>
  	</div>
</div>

<div class="panel-body">
	<table class="jpi_table_data_table table table-striped table-bordered table-responsive table-condensed table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Catégorie</th>
				<th>Produit</th>
				<th>Qu</th>
				<th>Pu</th>
				<th>Quantité</th>
				<th>Total</th>
			</tr>
		</thead>
	</table>
</div>

{% endblock jpi_solux_content %}